data/*
rllab/*.pyc
rllab/__pycache__/*
rllab/algos/__pycache__/*
rllab/baselines/__pycache__/*
rllab/core/__pycache__/*
rllab/distributions/__pycache__/*
rllab/envs/*.pyc
rllab/envs/__pycache__/*
rllab/envs/mujoco/__pycache__/*
rllab/envs/*.pyc
rllab/misc/*.pyc
rllab/misc/__pycache__/*
rllab/mujoco_py/__pycache__/*
rllab/spaces/*.pyc
rllab/spaces/__pycache__/*
rllab/viskit/__pycache__/*
rllab/optimizers/__pycache__/*
rllab/plotter/__pycache__/*
rllab/policies/__pycache__/*
rllab/policies/*.pyc
rllab/sampler/__pycache__/*
sandbox/__pycache__/*
